@page "/airlines"

@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject IModel model

@if (airlines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Airlines</h3>

    @if (airlines is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Carrier</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var airline in airlines)
                {
                    <tr>
                        <td>@airline.Name</td>
                        <td>@airline.Carrier</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
@code {

    private List<AirlineModel> airlines;

    protected override async Task OnInitializedAsync()
    {
        airlines = await model.GetAirlinesAsync();
    }

}
