@page "/checkweather"

<h3>The Weather at The Origins</h3>

<p>
   - How many weather observations there are for the origins in a table.
    <br>
   - For each of the three origins, all temperature attributes in degree 
    Celsius (i.e. you need to convert from Fahrenheit to Celsius)
</p>

<a href="/checkweather/temperatures">Go to Check Temperatures</a>

@code {

}
