@page "/delays"


@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IModel model
@if (data == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Origin</th>
                <th class="text-center">Average Arrival Delay</th>
                <th class="text-center">Average Departure Delay</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in data)
            {
                <tr>
                    <td class="text-center">@flight.Origin</td>
                    <td class="text-center">@Math.Round(flight.Avg_arr, 2) Minutes</td>
                    <td class="text-center">@Math.Round(flight.Avg_dep, 2) Minutes</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<FlightModel> data;

    protected async override Task OnInitializedAsync()
    {
        data = await model.MeanDelayPerOriginAsync();
        this.StateHasChanged();
    }
}
