@page "/flights"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.PieChart


@inject IModel model

<h3>Flights</h3>

<p><em>Loading...</em></p>

@code {
    List<FlightModel> flights;
    protected override async Task OnInitializedAsync()
    {
        //flights = await model.FlightsPerTopDestAsync();
        //flights = await model.NoOfWeatherObservationsPerOriginAsync();
        //flights = await model.TempPerOriginAsync();
        //flights = await model.DailyMeanTempPerOriginAsync();
        //flights = await model.MeanDelayPerOriginAsync();
        //flights = await model.ManufacturersWithShitLoadOfPlanesAsync();
        //flights = await model.FlightsPerBigManufacturerAsync();
        //flights = await model.NoOfAirbusesPerModelAsync();
    }
}
