@page "/totalflights/meanairtravel"

<h3>Mean AirTime</h3>

<p>Under Construction</p>

<h3>Mean Departure and Arrival Times</h3>

<p>Under Construction</p>

<a href="totalflights">Go Back</a>

@code {

}
