@page "/temperaturesJFK"

@using ChartJs.Blazor.ChartJS.BarChart
@using ChartJs.Blazor.ChartJS.BarChart.Axes
@using ChartJs.Blazor.ChartJS.Common.Axes
@using ChartJs.Blazor.ChartJS.Common.Axes.Ticks
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.Util
@using DataAccessLibrary
@using DataAccessLibrary.Models
@using ChartJs.Blazor.ChartJS.Common.Wrappers

@inject IModel model;

<h3>TemperaturesJFK</h3>

<ChartJsBarChart @ref="_barChart"
                 Config="@_barChartConfig"
                 Width="600"
                 Height="400" />

<div class="btn-group d-flex justify-content-center" role="group">
    <button type="button" class="btn btn-secondary" @onclick="ShowPreciseJFK">@button</button>
    <button type="button" class="btn btn-secondary" @onclick="ShowMeanTempJFK">@button1</button>
</div>

@code {
    private List<FlightModel> data;
    private List<FlightModel> data2;
    private string button = "Show Precise Temperature at JFK";
    private string button1 = "Mean Daily Temperature at JFK";

    private bool change = true;

    private BarDataset<DoubleWrapper> _barDataSetTemp, _barDataSetAverage;

    private BarConfig _barChartConfig;
    private ChartJsBarChart _barChart;

    public void ShowPreciseJFK()
    {
        _barChartConfig.Data.Labels.Clear();
        _barChartConfig.Data.Datasets.Clear();

        _barChartConfig.Options.Title.Text = "Hourly Precise Temperature at JFK";
    }

    public void ShowMeanTempJFK()
    {
        _barChartConfig.Data.Labels.Clear();
        _barChartConfig.Data.Datasets.Clear();
        _barChartConfig.Options.Title.Text = "Daily Mean Temperatures at JFK (Month/Day)";
    }
}
