@page "/totalflights"

<h3>Total Flights per Month</h3>

<p>A graph will be here soon!</p>

<button type="button">
    Flights from 3 Origins
</button>
<br>
<a href="totalflights/meanairtravel">Mean Airtravel</a>


@code {

}
